:root {
  --lighter: #f5f5f5;
  --darker: #d5d4d8;
  --primary: #b74459;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #23252c;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

.container {
  width: 25%;
  min-width: 317px;
  background-color: var(--lighter);
  margin: auto;
  border-radius: 0.5em;
  overflow: hidden;
}

main {
  padding: 0 10%;
}

section {
  margin-top: 25px;
}

.info {
  text-align: center;
}

.info--foto {
  width: 100%;
}

.info--heading {
  font-weight: 700;
  font-size: 25px;
}

.info--subheading {
  color: var(--primary);
  font-weight: 400;
  font-size: 14px;
}

footer {
  background-color: var(--darker);
  display: flex;
  justify-content: center;
}

footer > img {
  width: 25px;
  margin: 15px;
}
